version: "3.9"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - DATABASE_URL=sqlite:///app.db
      - CORS_ORIGINS=http://localhost:8501, http://frontend:8501
    volumes:
      - ./models:/app/models
      - ./data:/app/data
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    ports:
      - "8501:8501"
